@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

a {
  font-weight: 500;
  color: #000;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

